.fs-2-0 {
    font-size: 2em;
}

.fs-1-5 {
    font-size: 1.5em;
}

.fs-1-0 {
    font-size: 1.0em;
}

.fs-0-7 {
    font-size: 0.7em;
}

.fs-0-5 {
    font-size: 0.5em;
}

.tiny-muted {
    font-size: 0.6em;
    color: #6c757d!important;
}